<h1>Handlebars</h1>


<div id="users">
    {{#each users}}
        <h1>Virtual fullname: {{fullname}}</h1>
        <h2><a href="{{username}}">{{first}} {{second}}</a></h2>
        <img src="/profilepics/{{username}}.jpg" alt="{{'pic'}}"/>
    {{/each}}
</div>