doctype html
html(lang="en")
    head
        title= "User Index"
    body
        h1 Jade!
        each user in users
            div
                a(href='/' + user.username)= user.fullName
                img(src='/' + user.username + '.jpg')