<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="nav">
        <a href="/">Go back to main page</a>
    </div>
    <h1>{{user.first}} {{user.second}}</h1>
    <input id="first" value="{{user.first}}"/>
    <input id="second" value="{{user.second}}"/>
    <img src="/profilepics/{{user.username}}.jpg">

    <button onclick="save()">save</button>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
//        $(function () {
//            console.log("jquery loaded");
//        })
        function save() {
            $.ajax('/{{user.username}}', {
                method: 'PUT',
                data: {
                    first: $('#first').val(),
                    second: $('#second').val()
                },
                complete: function(){
                    alert('saved');
                    location.reload();
                }
            })
        }
    </script>
</body>
</html>



